body{
	background-color: #EBEBEB;
}

.mainicon{
	padding: 2px;
	color: #ba4a22;
}
.logo{
	color: green;
}
.quote-image{
	width: 100%;
	height: auto;
	border-radius:
	border:2px solid white;
}
.bio{
	text-align: center;
}
.carousel-inner{

max-width: 100%;
max-height: 50%

}
.carousel-item{
	max-width: 100%;
	max-height: 50%;
}

.grid-container-news{
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
	border: ;
	radius:2px;
}
.grid-padding{
	padding: 10px;
}
.grid-item-news{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: auto;
  background-color: ;
  padding: 10px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);

  padding: 20px;
  font-size: 15px;
  text-align: center;
}
